*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.DS_Store
*.json
trello-script/
client_secrets.json
getfiles.rb-oauth2.json
*.cache
*.log
lib/update.rb